//
// test.config
//
// David Van Campenhout
//
//

// TESTPROGRAM #
// 
// 1	LDM, STM
// 2	ADD, ADC
// 3	alu
// 4	shift
// 5 	conditions
// 6	multiply
// 7	div
// 8

`define BINFILE 0
`define TESTPROGRAM 7



`define RAMFILE_MULTI 	"../images/multi.data"
`define RAMFILE_MULT 	"../images/mult.data"
`define RAMFILE_DIV 	"../images/mem.data"

// exercise scan chain
`define SCAN 		0

// feed scanout back to scanin
`define SCAN_CIRCULAR 1

// # cycles in scan mode
`define SCAN_CYCLES 284

// cycle in which to start scanning
`define SCAN_START 	20

// time after posedge phi1
`define SCAN_OFFSET	5

// total # cycles to run
`define CYCLES 	131072


`define NONOVERLAP 2
`define PHI_HIGH 23
`define CYCLE 50

`define START_WAVES 0
`define WAVES_MEMSIZE 2000000

`define TEST_MULTI    1
`define TEST_MULT     6
`define TEST_DIV      7

`define INIT_REGFILE 1





